DATABASE_URL='postgresql://neondb_owner:xxx@ep-dawn-water-anhcdt4x-pooler.c-6.us-east-1.aws.neon.tech/go_commerce?sslmode=require&channel_binding=require'
PORT=8080
ENV=development
JWT_SECRET='your-super-secret-jwt-key-change-this-in-production'
DB_MAX_OPEN_CONNS=20
DB_MAX_IDLE_CONNS=20
DB_CONN_MAX_LIFETIME=4m
DB_CONN_MAX_IDLE_TIME=1m